<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SMSApiKey" value="655663307951556D54306F2B536143774869664576413D3D"/>
    <add key="SMSSender" value="30006703558558"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AtlasjetSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://91.230.73.120/ADSAGENCYWS/services/Atlasjet"
        binding="basicHttpBinding" bindingConfiguration="AtlasjetSoapBinding"
        contract="AtlasjetService.Atlasjet" name="Atlasjet" />
    </client>
  </system.serviceModel>
</configuration>