@model Repository.Models.ViewModels.TicketViewModel

@{
    ViewBag.Title = "GetTicketsTickets";
}

<h2>GetTicketsTickets</h2>

<div>
    <h4>TicketViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>

